PORT=5000
ADMIN_API_KEY=163087
ADMIN_USERNAME=mahin
ADMIN_PASSWORD=mahin@2026*
AWS_REGION=ap-southeast-1

# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=https://eqblefrqxhycjuvjwlem.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ISAee5j1fm0J73kvXybLxg_1vb16TR_
SUPABASE_URL=https://eqblefrqxhycjuvjwlem.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_ISAee5j1fm0J73kvXybLxg_1vb16TR_
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_STORAGE_BUCKET=avatars
