ADMIN_API_KEY=
ADMIN_PASSWORD=
ADMIN_USERNAME=
ALLOWED_ORIGINS=
AWS_REGION=
DATABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SONGS_BUCKET=
SUPABASE_STORAGE_BUCKET=